// Flex colors
@orange: #D9411E;
@light-orange: #FF5A09;
@white:  #ffffff;
@grey: #333333;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey: #242121;
@dark-blue: #1D2951;
@blue: #4682B4;
// Font family
@sans: 'Fira Sans', sans-serif;
@mono: 'Arvo', monospace;

// Body
@body-bg: @dark-grey;
@text-color: @light-grey;

// Links
@link-color: @white;
@link-hover-color: @white;

// Sidebar (aside)
@sidebar-bg: @dark-grey;
@sidebar-text-color: @light-grey;
@sidebar-link-color: @light-grey;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: @dark-blue;
@btn-text-color: @white;
@btn-hover-color: @blue;

// Tag cloud
@tag-bg: @blue;
@tag-text-color: @white;
@tag-hover-color: @blue;

// Header
@header-text-color: @white;

// Footer
@footer-text-color: @light-grey;
@footer-border-color: @light-grey;

// Relativer posts
@rel-post-border-color: @light-grey;

// Nav
@nav-border-color: @dark-grey;