// Flex colors
@orange: #D9411E;
@light-orange: #FF5A09;
@white:  #ffffff;
@grey: #333333;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@grey: #3c484e;
@dark-grey: #242121;
@black: #090a0b;
@dark-blue: #1D2951;
@blue: #3eb0ef;
// Font family
@sans: 'Varela Round', sans-serif;
@mono: Courier, monospace;

// Body
@body-bg: @dark-grey;
@text-color: @grey;

// Links
@link-color: @black;
@link-hover-color: @blue;

// Sidebar (aside)
@sidebar-bg: @black;
@sidebar-text-color: @light-grey;
@sidebar-link-color: @light-grey;
@sidebar-link-hover-color: @light-grey;

// Buttons
@btn-bg: @black;
@btn-text-color: @white;
@btn-hover-color: @blue;

// Tag cloud
@tag-bg: @blue;
@tag-text-color: @white;
@tag-hover-color: @blue;

// Header
@header-text-color: @black;

// Footer
@footer-text-color: @black;
@footer-border-color: @white;

// Relativer posts
@rel-post-border-color: @light-grey;

// Nav
@nav-border-color: @black;